.faq {
	padding: 60px 0 55px;
	width: 100vw;
	margin: 0 auto;
	background-color: #484283;
	display: flex;
	align-items: center;
	flex-direction: column;
	color: #ffffff;
}

.faqItem {
	width: 59%;
	border-bottom: 1px solid #ffffff;
	overflow: hidden;
}

.faqTitle {
	font-size: 36px;
	font-weight: 700;
	width: 59%;
	border-bottom: 1px solid #ffffff;
}

.faqQuestion {
	display: flex;
	align-items: center;
	padding: 10px 0;
	margin: 0 0 5px;
	cursor: pointer;
}

.faqQuestion h3 {
	margin: 0;
	flex-grow: 1;
	font-size: 24px;
	font-weight: 400;
}

.icon {
	transition: transform 0.3s ease;
	font-size: 40px;
}

.icon.open {
	transform: rotate(90deg);
}

.faqAnswer {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease;
	padding: 0 20px 0 0;
	font-size: 16px;
	font-weight: 600;
}

.faqAnswer.open {
	max-height: 100px;
	padding: 0 0 20px;
}

.faqTitle h2 {
	margin-bottom: 20px;
}

@media (max-width: 768px) {
	.faq {
		padding: 30px 0;
	}

	.faqItem {
		width: 90%;
	}

	.faqTitle {
		width: 90%;
	}
}
