.listContainer {
    width: 100%;
    display: flex;
    justify-content: flex-start; 
    flex-wrap: wrap; 
    padding: 10px;
    gap: 20px; 
}

.productItem {
    flex-basis: calc(33.33% - 20px);
    box-sizing: border-box; 
}