.Scroll__container {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.scroll__item {
	width: 70px;
	height: 70px;
	border: 1px solid #d5d5d5;
	border-radius: 4px;
	cursor: pointer;
	transition: border 0.3s ease, background-color 0.3s ease;
	overflow: hidden;
	object-fit: cover;
	margin-right: 20px;
}

.scroll__item:hover,
.scroll__item.selected {
	border: 1px solid #484283;
	background-color: #f6f6f6;
}

.Scroll__container {
	width: 44%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.mainImage {
	width: 100%;
	height: auto;
	border: 1px solid #d5d5d5;
	border-radius: 4px;
	margin-bottom: 10px;
	overflow: hidden;
	object-fit: cover;

	transition: opacity 0.3s ease, transform 0.3s ease;
}

.mainImage.fade_in {
	opacity: 1;
}

.mainImage.fade_out {
	opacity: 0;
}

.previewContainer {
	width: calc(100% + 20px);
	display: flex;
}
